<nav>
  <h1>Hi.</h1>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="{{ site.url }}/assets/images/me.jpg" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="{{ site.url }}/assets/images/me.jpg" id="logo" alt="Blog logo"/>
    {% endif %}
  </a>
  <h2>I'm <a href="/">{{ site.data.theme.name }}</a>.</h2>
  <div id="bio">
    <p>$A Software | grep "Coder" | grep "Programmer" | grep "Developer" > Engineer</p>
    <p>
      <code>"{{ site.data.theme.quote }}"</code>
    </p>
    <p align="right">
      <code>-- {{ site.data.theme.quoteby }}</code>
    </p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
